.b-employees-combobox_multi_list .b-employees-combobox__department-name:hover
{
    text-decoration: underline;
}

.b-employees-combobox_multi_list .b-employees-combobox__selected-items
{
    border: 2px solid #e5e5e5;
}

.b-employees-combobox_multi_list .b-employees-combobox__selected-item
{
    width: 50%;
    height: 100%;
    display: inline-block;
    border: none;
    background: none;
    margin: 2px 0;
    padding: 0;
    vertical-align: top;
    position: relative;
}

.b-employees-combobox_multi_list .b-employees-combobox__selected-item > div
{
    margin: 0 2px;
    padding: 2px;
    background: rgb(243, 243, 243); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(243, 243, 243, 1) 0%, rgba(247, 247, 247, 1) 23%, rgba(230, 230, 230, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(243, 243, 243, 1)), color-stop(23%, rgba(247, 247, 247, 1)), color-stop(100%, rgba(230, 230, 230, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(243, 243, 243, 1) 0%, rgba(247, 247, 247, 1) 23%, rgba(230, 230, 230, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(243, 243, 243, 1) 0%, rgba(247, 247, 247, 1) 23%, rgba(230, 230, 230, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(243, 243, 243, 1) 0%, rgba(247, 247, 247, 1) 23%, rgba(230, 230, 230, 1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(243, 243, 243, 1) 0%, rgba(247, 247, 247, 1) 23%, rgba(230, 230, 230, 1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3f3f3', endColorstr='#e6e6e6', GradientType=0); /* IE6-9 */
}

.b-employees-combobox_multi_list .b-employees-combobox__selected-item-name
{
    width: 68%;
    white-space: nowrap;
    overflow: hidden;
}

.b-employees-combobox_multi_list .b-employees-combobox__selected-item_type_department .b-employees-combobox__selected-item-name
{
    width: 84%;
    margin: 0;
}

.b-employees-combobox_multi_list .b-employees-combobox__item-input
{
    position: relative;
    overflow: hidden;
    vertical-align: top;
    padding: 2px 0;
    margin: 2px 0;
}

.b-employees-combobox_multi_list .b-employees-combobox__item-input_style_small
{
    width: 50%;
    display: inline-block;
}

.b-employees-combobox_multi_list .b-employees-combobox__item-input_style_full .b-employees-combobox__input,
.b-employees-combobox_multi_list .b-employees-combobox__item-input_style_small .b-employees-combobox__input
{
    width: 94%;
    margin: 0;
    border: none;
    background: none;
    height: 18px;
    padding: 0 0 0 14px;
}

.b-employees-combobox_multi_list .b-employees-combobox__item-input_style_full .b-employees-combobox__input-plus,
.b-employees-combobox_multi_list .b-employees-combobox__item-input_style_small .b-employees-combobox__input-plus
{
    position: absolute;
    top: 50%;
    left: 3px;
    margin-top: -4px;
    width: 9px;
    height: 9px;
    background: url(../../../images/ic-plus.png) 0 0 no-repeat;
}
.b-employees-combobox_multi_list .b-employees-combobox__item-input_selected_yes.b-employees-combobox__item-input_style_full .b-employees-combobox__input-plus,
.b-employees-combobox_multi_list .b-employees-combobox__item-input_selected_yes.b-employees-combobox__item-input_style_small .b-employees-combobox__input-plus
{
    top: 50%;
    left: 1px;
    margin-top: -6px;
    width: 12px;
    height: 12px;
}

.b-employees-combobox__item-input_selected_no.b-employees-combobox__item-input_style_full.b-employees-combobox__item-input_hover_no,
.b-employees-combobox__item-input_selected_no.b-employees-combobox__item-input_style_small.b-employees-combobox__item-input_hover_no
{
    opacity: 0.3;
}

.b-employees-combobox__item-input_selected_no.b-employees-combobox__item-input_hover_yes
{
    opacity: 1;
}