.b-employees-combobox_multi_drag .b-employees-combobox__department-name:hover
{
    text-decoration: underline;
}


.b-employees-combobox_multi_drag .b-employees-combobox__selected-items
{
    border: 2px solid #e5e5e5;
}

.b-employees-combobox_multi_drag .b-employees-combobox__selected-item
{
    width: 87%;
    border: none;
    padding: 1.5% 1% 1.5% 10%;
    margin: 1% 1% 0 1%;
    vertical-align: top;
    cursor: url('https://ssl.gstatic.com/tasks/openhand.cur'), pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
         -o-user-select: none;
            user-select: none;
}

.b-employees-combobox_multi_drag .b-employees-combobox__selected-item_type_department
{
    width: 87%;
}

.b-employees-combobox_multi_drag .b-employees-combobox__selected-item-name
{
    width: 78%;
    white-space: nowrap;
    overflow: hidden;
}
.b-employees-combobox_multi_drag .b-employees-combobox__selected-item_type_department .b-employees-combobox__selected-item-name
{
    width: 90%;
}

.b-employees-combobox_multi_drag .b-employees-combobox__item-input_style_full
{
    width: 96%;
    position: relative;
    vertical-align: top;
    padding: 1.5% 1%;
    margin: 0 1%;
}

.b-employees-combobox_multi_drag .b-employees-combobox__item-input_style_full .b-employees-combobox__input
{
    width: 90%;
    margin: 0;
    padding: 0 0 0 16px;
    border: none;
    background: none;
    height: 20px;
}

.b-employees-combobox_multi_drag .b-employees-combobox__item-input_style_full .b-employees-combobox__input-plus
{
    width: 12px;
    height: 12px;
    background: url(../../../images/ic-plus.png) 0 0 no-repeat;
    position: absolute;
    top: 8px;
    left: 3px;
}

.b-employees-combobox_multi_drag .b-employees-combobox__item-input_selected_yes .b-employees-combobox__input-plus
{
    width: 16px;
    height: 16px;
    background: url(../../../images/ic-search-gray.png) 0 0 no-repeat !important;
    position: absolute;
    top: 26%;
    left: 2%;
}

.b-employees-combobox__selected-item-position
{
    position: absolute;
    width: 20px;
    left: 0;
    top: 7px;
    font-size: 0.8em;
    font-weight: bold;
    text-align: center;
}

.b-employees-combobox__selected-item-position-arrow
{
    position: absolute;
    left: 0;
    top: 16px;
    z-index: 11;
    width: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
}

.b-employees-combobox__item-input_selected_no.b-employees-combobox__item-input_style_full.b-employees-combobox__item-input_hover_no
{
    opacity: 0.3;
}

.b-employees-combobox__item-input_selected_no.b-employees-combobox__item-input_hover_yes
{
    opacity: 1;
}