.b-employees-combobox_multi_drag .b-employees-combobox__department-name:hover
{
    text-decoration: underline;
}


.b-employees-combobox_multi_drag .b-employees-combobox__selected-items
{
    border: 1px solid #BBB;
}

.b-employees-combobox_multi_drag .b-employees-combobox__selected-item
{
    border: none;
    padding: 2px 2px 2px 20px;
    margin: 2px;
    vertical-align: top;
    cursor: url('https://ssl.gstatic.com/tasks/openhand.cur'), pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
         -o-user-select: none;
            user-select: none;
}

.b-employees-combobox_multi_drag .b-employees-combobox__selected-item_type_department
{
    width: 87%;
}

.b-employees-combobox_multi_drag .b-employees-combobox__selected-item-name
{
    width: 78%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.b-employees-combobox_multi_drag .b-employees-combobox__selected-item_type_department .b-employees-combobox__selected-item-name
{
    width: 90%;
}

.b-employees-combobox_multi_drag .b-employees-combobox__item-input_style_full
{
    width: 96%;
    position: relative;
    vertical-align: top;
    padding: 2px;
    margin: 2px;
}

.b-employees-combobox_multi_drag .b-employees-combobox__item-input_style_full .b-employees-combobox__input
{
    width: 100%;
    margin: 0;
    padding: 0 0 0 14px;
    border: none;
    background: none;
    height: 18px;
}

.b-employees-combobox_multi_drag .b-employees-combobox__item-input_style_full .b-employees-combobox__input-plus
{
    width: 9px;
    height: 9px;
    background: url(../../../images/ic-plus.png) 0 0 no-repeat;
    position: absolute;
    top: 50%;
    left: 3px;
    margin-top: -4px;
}

.b-employees-combobox_multi_drag .b-employees-combobox__item-input_selected_yes .b-employees-combobox__input-plus
{
    width: 12px;
    height: 12px;
    background: url(../../../images/ic-search-gray.png) 0 0 no-repeat !important;
    position: absolute;
    top: 50%;
    left: 2px;
    margin-top: -6px;
}

.b-employees-combobox__selected-item-position
{
    position: absolute;
    width: 20px;
    left: 0;
    top: 50%;
    margin-top: -7px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
}

.b-employees-combobox__selected-item-position-arrow
{
    position: absolute;
    left: 0;
    top: 125%;
    margin-top: -1.1em;
    z-index: 11;
    width: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
}

.b-employees-combobox_multi_drag .b-employees-combobox__item-input_hover_yes .b-employees-combobox__input
{
    cursor: pointer;
}

.b-employees-combobox_multi_drag .b-employees-combobox__item-input_hover_yes .b-employees-combobox__input:focus
{
    cursor: text;
}

.b-employees-combobox__item-input_selected_no.b-employees-combobox__item-input_style_full.b-employees-combobox__item-input_hover_no
{
    opacity: 0.3;
}

.b-employees-combobox__item-input_selected_no.b-employees-combobox__item-input_hover_yes
{
    opacity: 1;
}