.b-employees-combobox
{
    width: 100%;
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
}

.b-employees-combobox__item-input
{
    position: relative;
    overflow: hidden;
}



.b-employees-combobox__input
{

    width: 100%;
    height: 26px;
    padding: 0 0 0 5px;
    color: #333;
    font: normal 11px 'Segoe UI', Arial;
    border: none;
    background: rgb(240, 240, 240);
    background: -moz-linear-gradient(top, rgba(240, 240, 240, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(240, 240, 240, 1)), color-stop(100%, rgba(255, 255, 255, 1)));
    background: -webkit-linear-gradient(top, rgba(240, 240, 240, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: -o-linear-gradient(top, rgba(240, 240, 240, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: -ms-linear-gradient(top, rgba(240, 240, 240, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(to bottom, rgba(240, 240, 240, 1) 0%, rgba(255, 255, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f0f0', endColorstr='#ffffff', GradientType=0);
}

.b-employees-combobox__item-input_selected_yes .b-employees-combobox__input
{
    padding: 0 0 0 16px;
}

.b-employees-combobox__item-input_selected_yes .b-employees-combobox__input-plus
{
    width: 16px;
    height: 16px;
    background: url(../../images/ic-search-gray.png) 0 0 no-repeat !important;
    position: absolute;
    top: 26%;
    left: 2px;
}

.b-employees-combobox__input:focus
{
    outline: 0;
}

.b-employees-combobox__dropdown
{
    position: absolute;
    top: 130%;
    left: 0;
    z-index: 99999;

    display: none;
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;

    min-width: 300px;

    margin: 2px 0 0 0;

    -webkit-box-shadow: 0 0 3px rgba(0,0,0, .2);
       -moz-box-shadow: 0 0 3px rgba(0,0,0, .2);
            box-shadow: 0 0 3px rgba(0,0,0, .2);
}

.b-employees-combobox__suggest-wrap
{
    position: relative;
    width: 300px;

    background: rgb(249,249,249); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(249,249,249,1) 0%, rgba(255,255,255,1) 26%, rgba(255,255,255,1) 71%, rgba(249,249,249,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,249,249,1)), color-stop(26%,rgba(255,255,255,1)), color-stop(71%,rgba(255,255,255,1)), color-stop(100%,rgba(249,249,249,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(249,249,249,1) 0%,rgba(255,255,255,1) 26%,rgba(255,255,255,1) 71%,rgba(249,249,249,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(249,249,249,1) 0%,rgba(255,255,255,1) 26%,rgba(255,255,255,1) 71%,rgba(249,249,249,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(249,249,249,1) 0%,rgba(255,255,255,1) 26%,rgba(255,255,255,1) 71%,rgba(249,249,249,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(249,249,249,1) 0%,rgba(255,255,255,1) 26%,rgba(255,255,255,1) 71%,rgba(249,249,249,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */
}

.b-employees-combobox__suggest
{
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 300px;
    margin: 8px 3px 10px 9px;
}

.b-employees-combobox__companies-wrap
{
    vertical-align: top;

    background: rgb(248,248,248); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(248,248,248,1) 0%, rgba(235,235,235,1) 50%, rgba(248,248,248,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(248,248,248,1)), color-stop(50%,rgba(235,235,235,1)), color-stop(100%,rgba(248,248,248,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(248,248,248,1) 0%,rgba(235,235,235,1) 50%,rgba(248,248,248,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(248,248,248,1) 0%,rgba(235,235,235,1) 50%,rgba(248,248,248,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(248,248,248,1) 0%,rgba(235,235,235,1) 50%,rgba(248,248,248,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(248,248,248,1) 0%,rgba(235,235,235,1) 50%,rgba(248,248,248,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f8f8f8',GradientType=0 ); /* IE6-9 */


    -webkit-box-shadow: inset -2px 0 3px rgba(0, 0, 0, 0.2);
       -moz-box-shadow: inset -2px 0 3px rgba(0, 0, 0, 0.2);
            box-shadow: inset -2px 0 3px rgba(0, 0, 0, 0.2);
}

.b-employees-combobox__companies
{
    height: 100%;
    padding: 10px 20px 0 10px;
    min-width: 100px;
}

.b-employees-combobox__company
{
    position: relative;
    height: 17px;
    padding-left: 35px;
    margin-bottom: 10px;
    cursor: pointer;
    text-align: right;
    color: #666;
}

.b-employees-combobox__company-matched
{
    font-size: 11px;

    position: absolute;
    top: 0;
    left: 0;

    color: #bbb;
}

.b-employees-combobox__company-name
{
    white-space: nowrap;
    text-shadow: 0px 1px 0px rgba(250, 250, 250, 1);
    max-width: 110px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.b-employees-combobox__company_select_yes .b-employees-combobox__company-name
{
    color: #333;
    font-weight: bold;
}

.b-employees-combobox__department
{
    margin-bottom: 10px;
    border-bottom: 1px solid #e1e1e1;
    padding: 0 0 5px 0;
}

.b-employees-combobox__department-name
{
    margin-bottom: 5px;
    padding-left: 15px;

    white-space: nowrap;

    color: #333;

    font-weight: bold;
    font-size: 12px;

    cursor: pointer;
}

.b-employees-combobox__department_expand_on  .b-employees-combobox__department-name
{
    background: url('../../images/expander-down.png') 2px 4px no-repeat;
}

.b-employees-combobox__department_expand_off  .b-employees-combobox__department-name
{
    background: url('../../images/expander-up.png') 2px 4px no-repeat;
}

.b-employees-combobox__departments-list_type_child
{
    margin: 5px 0 0 15px;
}

.b-employees-combobox__departments-list_type_child .b-employees-combobox__department
{
    padding: 0;
    border: none;
}

.b-employees-combobox__employees-list
{
    margin: 0 0 0 15px;
}

.b-employees-combobox__department_id_0 .b-employees-combobox__employees-list
{
    margin: 0;
}

.b-employees-combobox__employee
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 3px;
    white-space: nowrap;
    cursor: pointer;
}

.b-employees-combobox__employee_select_yes
{
    padding: 2px;
    border: 1px solid #b0d7ff;
    background: rgb(214,247,253); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(214,247,253,1) 0%, rgba(230,245,254,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(214,247,253,1)), color-stop(100%,rgba(230,245,254,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(214,247,253,1) 0%,rgba(230,245,254,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(214,247,253,1) 0%,rgba(230,245,254,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(214,247,253,1) 0%,rgba(230,245,254,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(214,247,253,1) 0%,rgba(230,245,254,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6f7fd', endColorstr='#e6f5fe',GradientType=0 ); /* IE6-9 */
}

.b-employees-combobox__employee:hover
{
    background-color: #eee;
}

.b-employees-combobox__employee.b-employees-combobox__employee_deleted_yes
{
    cursor: default;
}

.b-employees-combobox__employee.b-employees-combobox__employee_deleted_yes:hover
{
    background: none;
}

.b-employees-combobox__employee > img
{
    vertical-align: top;
}

.b-employees-combobox__employee-info
{
    position: relative;
    top: 3px;
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
}

.b-employees-combobox__employee-pos
{
    width: 160px;
    margin-top: 1px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    color: #868686;
    font-size: 11px;
}

.b-employees-combobox__employee-name
{
    display: inline-block;
    color: #1c5aa2;
    text-transform:capitalize;
}

.b-employees-combobox__employee-name strong
{
    font-weight: bold;
}

.b-employees-combobox__employee_chief_yes .b-employees-combobox__employee-name
{
    font-weight: bold;
}

.b-employees-combobox__employee_deleted_yes .b-employees-combobox__employee-name,
.b-employees-combobox__employee_deleted_yes .b-employees-combobox__employee-pos
{
    color: #d90000;
}

.b-employees-combobox__employee-silver-crown
{
    display: inline-block;
    width: 15px;
    height: 12px;
    margin: 0 0 0 3px;
    vertical-align: baseline;
    background: url(../../images/crown-silver.png) 0 0 no-repeat;
}

.b-employees-combobox__employee-gold-crown
{
    display: inline-block;
    width: 15px;
    height: 12px;
    margin: 0 0 0 3px;
    vertical-align: baseline;
    background: url(../../images/crown-gold.png) 0 0 no-repeat;
}


.b-employees-combobox__selected-items
{
    position: relative;
    top: 0;
    left: 0;
    width: 99%;
    border: 1px solid #bcbcbc;

    background: rgb(242,242,242); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(242,242,242,1) 0%, rgba(255,255,255,1) 60%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,242,242,1)), color-stop(60%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(242,242,242,1) 0%,rgba(255,255,255,1) 60%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(242,242,242,1) 0%,rgba(255,255,255,1) 60%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(242,242,242,1) 0%,rgba(255,255,255,1) 60%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(242,242,242,1) 0%,rgba(255,255,255,1) 60%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.b-employees-combobox__selected-items:hover {}

.b-employees-combobox__selected-item
{
    position: relative;
    height: 18px;
    padding: 4px 6px;
    color: #444;
    line-height: 1.4em;
    background: rgb(243, 243, 243); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(243, 243, 243, 1) 0%, rgba(247, 247, 247, 1) 23%, rgba(230, 230, 230, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(243, 243, 243, 1)), color-stop(23%, rgba(247, 247, 247, 1)), color-stop(100%, rgba(230, 230, 230, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(243, 243, 243, 1) 0%, rgba(247, 247, 247, 1) 23%, rgba(230, 230, 230, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(243, 243, 243, 1) 0%, rgba(247, 247, 247, 1) 23%, rgba(230, 230, 230, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(243, 243, 243, 1) 0%, rgba(247, 247, 247, 1) 23%, rgba(230, 230, 230, 1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(243, 243, 243, 1) 0%, rgba(247, 247, 247, 1) 23%, rgba(230, 230, 230, 1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3f3f3', endColorstr='#e6e6e6', GradientType=0); /* IE6-9 */
}

.b-employees-combobox__selected-item img
{
    display: inline-block;
    vertical-align: middle;
}

.b-employees-combobox__selected-item-name
{
    width: 79%;
    display: inline-block;
    margin: 0 0 0 5px;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.b-employees-combobox__cancel-selected,
.b-employees-combobox__dep-cancel-selected
{
    position: absolute;
    top: 50%;
    right: 2%;
    margin-top: -5px;
    width: 9px;
    height: 9px;
    cursor: pointer;
    background: url('../../images/ic-round-cross-small-grey.png');
}

.b-employees-combobox__cancel-selected:hover,
.b-employees-combobox__dep-cancel-selected:hover
{
    background: url('../../images/ic-round-cross-small.png');
}

.b-employees-combobox__company_select_yes .b-employees-combobox__arrow
{
    position: absolute;
    overflow: hidden;

    top: -11px;
    right: -20px;
    z-index: 110;
    width: 13px;
    height: 38px;

    content: "";

    background: url(../../images/triangle.png) 0 0 no-repeat;
}

.b-employees-combobox__not-found
{
    margin: 10%;
    color: #666;
    text-align: center;
}

.b-employees-combobox__search-string
{
    color: #1c5aa1;
    font-style: italic;
}


.b-employees-combobox__close
{
    position: absolute;
    top: -7px;
    right: -7px;
    width: 13px;
    height: 13px;
    cursor: pointer;
    background: url('../../images/ic-circle-cross-m-gray.png');
    background-size: 13px;
}

.b-employees-combobox__close:hover
{
    background: url('../../images/ic-circle-cross-m.png');
}