.b-employees-combobox
{
    width: 100%;
    box-sizing: content-box;
}

.b-employees-combobox__item-input
{
    position: relative;
    overflow: hidden;
}



.b-employees-combobox__input
{

    width: 100%;
    height: 26px;
    padding: 0 0 0 5px;
    color: #333;
    font: normal 11px 'Segoe UI', Arial;
    border: none;
    background: rgb(240, 240, 240);
    background: -moz-linear-gradient(top, rgba(240, 240, 240, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(240, 240, 240, 1)), color-stop(100%, rgba(255, 255, 255, 1)));
    background: -webkit-linear-gradient(top, rgba(240, 240, 240, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: -o-linear-gradient(top, rgba(240, 240, 240, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: -ms-linear-gradient(top, rgba(240, 240, 240, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(to bottom, rgba(240, 240, 240, 1) 0%, rgba(255, 255, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f0f0', endColorstr='#ffffff', GradientType=0);
}

.b-employees-combobox__item-input_selected_yes .b-employees-combobox__input
{
    padding: 0 0 0 16px;
}

.b-employees-combobox__item-input_selected_yes .b-employees-combobox__input-plus
{
    width: 16px;
    height: 16px;
    background: url(../../images/ic-search-gray.png) 0 0 no-repeat !important;
    position: absolute;
    top: 26%;
    left: 2px;
}

.b-employees-combobox__input:focus
{
    outline: 0;
}

.b-employees-combobox__dropdown
{
    display: none;
    position: absolute;
    top: 130%;
    left: 0;
    border: 2px solid #e5e5e5;
    z-index: 99999;
    box-sizing: content-box;
    min-width: 300px;
}

.b-employees-combobox__suggest-wrap
{
    width: 100%;
    background: rgb(244,244,244); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(244,244,244,1) 0%, rgba(255,255,255,1) 3%, rgba(255,255,255,1) 87%, rgba(237,237,237,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(244,244,244,1)), color-stop(3%,rgba(255,255,255,1)), color-stop(87%,rgba(255,255,255,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(244,244,244,1) 0%,rgba(255,255,255,1) 3%,rgba(255,255,255,1) 87%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(244,244,244,1) 0%,rgba(255,255,255,1) 3%,rgba(255,255,255,1) 87%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(244,244,244,1) 0%,rgba(255,255,255,1) 3%,rgba(255,255,255,1) 87%,rgba(237,237,237,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(244,244,244,1) 0%,rgba(255,255,255,1) 3%,rgba(255,255,255,1) 87%,rgba(237,237,237,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */

    border-left: 1px solid #c0c0c0;

    -webkit-box-shadow: -2px 0px 3px rgba(50, 50, 50, 0.2);
       -moz-box-shadow: -2px 0px 3px rgba(50, 50, 50, 0.2);
            box-shadow: -2px 0px 3px rgba(50, 50, 50, 0.2);
}

.b-employees-combobox__suggest
{
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 300px;
    margin: 10px 0 14px 14px;
}

.b-employees-combobox__companies-wrap
{
    vertical-align: top;

    background: rgb(249,249,249); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(249,249,249,1) 0%, rgba(235,235,235,1) 50%, rgba(249,249,249,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,249,249,1)), color-stop(50%,rgba(235,235,235,1)), color-stop(100%,rgba(249,249,249,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(249,249,249,1) 0%,rgba(235,235,235,1) 50%,rgba(249,249,249,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(249,249,249,1) 0%,rgba(235,235,235,1) 50%,rgba(249,249,249,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(249,249,249,1) 0%,rgba(235,235,235,1) 50%,rgba(249,249,249,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(249,249,249,1) 0%,rgba(235,235,235,1) 50%,rgba(249,249,249,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */
}

.b-employees-combobox__companies
{
    height: 100%;
    padding: 10px 20px 0 10px;
    min-width: 100px;
}

.b-employees-combobox__company
{
    position: relative;

    padding-left: 35px;
    margin-bottom: 10px;

    cursor: pointer;
    text-align: right;
    color: #666;
}

.b-employees-combobox__company-matched
{
    font-size: 11px;

    position: absolute;
    top: 0;
    left: 0;

    color: #bbb;
}

.b-employees-combobox__company-name
{
    white-space: nowrap;
    text-shadow: 0px 1px 0px rgba(250, 250, 250, 1);
}

.b-employees-combobox__company_select_yes .b-employees-combobox__company-name
{
    color: #333;
    font-weight: bold;
}

.b-employees-combobox__department
{
    /*width: 240px;*/
    margin-bottom: 10px;
    border-bottom: 1px solid #e1e1e1;
}

.b-employees-combobox__department-name
{
    font-weight: bold;
    font-size: 12px;

    margin-bottom: 9px;
    padding-left: 17px;

    cursor: pointer;
    white-space: nowrap;
    color: #333;
}

.b-employees-combobox__department_expand_on  .b-employees-combobox__department-name
{
    background: url('../../images/expander-down.png') 0 3px no-repeat;
}

.b-employees-combobox__department_expand_off  .b-employees-combobox__department-name
{
    background: url('../../images/expander-up.png') 0 3px no-repeat;
}

.b-employees-combobox__departments-list_type_child
{
    margin-left: 20px;
}

.b-employees-combobox__departments-list_type_child .b-employees-combobox__department
{
    border: none;
}

.b-employees-combobox__employees-list
{
    margin: 0 10px 0 15px;
}

.b-employees-combobox__employee
{
    padding: 3px 5px;
    margin: 2px 0;
    width: 200px;
    cursor: pointer;
    white-space: nowrap;
}

.b-employees-combobox__employee_select_yes
{
    /*margin: 0;*/
    background: rgb(227, 245, 254); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(227, 245, 254, 1) 0%, rgba(227, 245, 252, 1) 50%, rgba(209, 247, 255, 1) 51%, rgba(209, 247, 253, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(227, 245, 254, 1)), color-stop(50%, rgba(227, 245, 252, 1)), color-stop(51%, rgba(209, 247, 255, 1)), color-stop(100%, rgba(209, 247, 253, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(227, 245, 254, 1) 0%, rgba(227, 245, 252, 1) 50%, rgba(209, 247, 255, 1) 51%, rgba(209, 247, 253, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(227, 245, 254, 1) 0%, rgba(227, 245, 252, 1) 50%, rgba(209, 247, 255, 1) 51%, rgba(209, 247, 253, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(227, 245, 254, 1) 0%, rgba(227, 245, 252, 1) 50%, rgba(209, 247, 255, 1) 51%, rgba(209, 247, 253, 1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(227, 245, 254, 1) 0%, rgba(227, 245, 252, 1) 50%, rgba(209, 247, 255, 1) 51%, rgba(209, 247, 253, 1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e3f5fe', endColorstr='#d1f7fd', GradientType=0); /* IE6-9 */

    border: 1px solid #A6D6FF;
    padding: 2px 4px;
}

.b-employees-combobox__employee:hover
{
    background-color: #eee;
}

.b-employees-combobox__employee > img
{
    vertical-align: middle;
}

.b-employees-combobox__employee-info
{
    position: relative;
    top: -3px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}

.b-employees-combobox__employee-pos
{
    width: 160px;
    color: #999;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.b-employees-combobox__employee-name
{
    text-transform:capitalize;
}

.b-employees-combobox__employee-name strong
{
    font-weight: bold;
}

.b-employees-combobox__selected-items
{
    position: relative;
    top: 0;
    left: 0;
    width: 99%;
    border: 1px solid #BBB;
    background-color: #fff;
}

.b-employees-combobox__selected-items:hover {
    border-color: #999;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.b-employees-combobox__selected-item
{
    position: relative;
    height: 18px;
    padding: 4px 6px;
    color: #444;
    line-height: 1.4em;
    background: rgb(243, 243, 243); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(243, 243, 243, 1) 0%, rgba(247, 247, 247, 1) 23%, rgba(230, 230, 230, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(243, 243, 243, 1)), color-stop(23%, rgba(247, 247, 247, 1)), color-stop(100%, rgba(230, 230, 230, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(243, 243, 243, 1) 0%, rgba(247, 247, 247, 1) 23%, rgba(230, 230, 230, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(243, 243, 243, 1) 0%, rgba(247, 247, 247, 1) 23%, rgba(230, 230, 230, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(243, 243, 243, 1) 0%, rgba(247, 247, 247, 1) 23%, rgba(230, 230, 230, 1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(243, 243, 243, 1) 0%, rgba(247, 247, 247, 1) 23%, rgba(230, 230, 230, 1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3f3f3', endColorstr='#e6e6e6', GradientType=0); /* IE6-9 */
}

.b-employees-combobox__selected-item img
{
    display: inline-block;
    vertical-align: middle;
}

.b-employees-combobox__selected-item-name
{
    width: 79%;
    display: inline-block;
    margin: 0 0 0 5px;
    vertical-align: middle;
}

.b-employees-combobox__cancel-selected,
.b-employees-combobox__dep-cancel-selected
{
    position: absolute;
    top: 50%;
    right: 2%;
    margin-top: -5px;
    width: 9px;
    height: 9px;
    cursor: pointer;
    background: url('../../images/ic-round-cross-small-grey.png');
}

.b-employees-combobox__cancel-selected:hover,
.b-employees-combobox__dep-cancel-selected:hover
{
    background: url('../../images/ic-round-cross-small.png');
}



.b-employees-combobox__company_select_yes .b-employees-combobox__arrow
{
    position: absolute;
}

.b-employees-combobox__company_select_yes .b-employees-combobox__arrow:before
{
    position: absolute;
    z-index: 111;
    width: 0;
    height: 0;
    top: 0;
    right: -21px;
    content: "";
    border-top: 8px solid transparent;
    border-right: 8px solid white;
    border-bottom: 8px solid transparent;
    -webkit-filter: drop-shadow(-3px 0px 4px rgba(152,198,223,1));
}

.b-employees-combobox__company_select_yes .b-employees-combobox__arrow:after
{
    -webkit-box-shadow: -2px 0px 3px rgba(152,198,223,1);
       -moz-box-shadow: -2px 0px 3px rgba(152,198,223,1);
        -ms-box-shadow: -2px 0px 3px rgba(152,198,223,1);
         -o-box-shadow: -2px 0px 3px rgba(152,198,223,1);
            box-shadow: -9px 0 3px #98C6DF;
    background: none repeat scroll 0 0 transparent;
    content: "";
    height: 10px;
    position: absolute;
    right: -28px;
    top: 3px;
    width: 7px;
    z-index: 110;
}


.b-employees-combobox__not-found
{
    margin: 10%;
    color: #666;
    text-align: center;
}

.b-employees-combobox__search-string
{
    color: #1c5aa1;
    font-style: italic;
}